@model ConsomiTounsi.web.Models.EditViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>About Me | Learn Detail About Me</title>

    <!--Google Webfont-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>

    @Styles.Render("~/CSS/formUser/font-awesome.min.css")
    @Styles.Render("~/CSS/formUser/main.css")
    @Styles.Render("~/CSS/formUser/material-design-iconic-font.min.css")

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png" />
</head>
<body>
    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover">

                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <img src="~/images/user-12.jpg" alt="" class="img-responsive profile-photo" />
                                <h3>@ViewBag.UserName</h3>
                                <p class="text-muted">@ViewBag.Role</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li>@Html.ActionLink("Chat", "Index", "Post")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->
                <!--Timeline Menu for Small Screens-->
            </div>

            <div style="padding:20px; margin:100px">
                <div class="wrapper wrapper--w680">
                    <div class="card card-4" style="width:1000px; margin-left:-155px">
                        <div class="card-body" style="margin-left:100px">
                            <h2 class="title">Update your account!</h2>
                       @using (Html.BeginForm("UpdateAbout", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                       {
                        <form>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">first name</label>
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "input--style-4", style="width:800px" })
                                        @*<input class="input--style-4" type="text" name="first_name">*@
                                    </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Phone Number</label>
                                            @*<input class="input--style-4" type="text" name="last_name">*@
                                            @Html.TextBoxFor(model => model.Phone, new { @class = "input--style-4", style="width:800px" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Email</label>
                                            @*<input class="input--style-4" type="email" name="email">*@
                                            @Html.TextBoxFor(model => model.Email, new { @class = "input--style-4", style="width:800px" })

                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Image</label>
                                            @*@Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label form-control-sm" })*@
                                            @Html.TextBox("file", "", new { type = "file", @class = "input--style-4", style="width:800px" })
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="p-t-15">
                                    <button class="btn btn--radius-2 btn--green" type="submit" style="margin-left:250px">Confirm</button>
                                </div>
                            </form>
                       }
                        </div>
                    </div>
                </div>
            </div>

            @*@using (Html.BeginForm("UpdateAbout", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="grey">Update your informations!</h4>
                <form>
                    <div class="form-group">
                        @Html.EditorFor(model => model.UserName, new { @class = "form-control", @placeholder = "Enter your name *" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control", @id = "contact-email", @placeholder = "Enter your email *" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Phone, new { @class = "form-control", @id = "contact-phone", @placeholder = "Enter your phone *" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label form-control-sm" })
                        @Html.TextBox("file", "", new { type = "file" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </form>

                <button type="submit" class="btn-primary">Confirm</button>
            }*@
        </div>
    </div>
    <!--preloader-->
    <div id="spinner-wrapper">
        <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOiLRLzx9Jd2ivpqH_VOMDzzXnI2O-WmA=initMap"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>
