<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/CSS/bootstrap.min.css")
    @Styles.Render("~/CSS/style.css")
    @Styles.Render("~/CSS/ionicons.min.css")
    @Styles.Render("~/CSS/font-awesome.min.css")
    @Styles.Render("~/CSS/wish/card.css")
    @Styles.Render("~/CSS/wish/Style-NotFound.css")


    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

</head>
<body>
    <!-- Header
        ================================================= -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- <a class="navbar-brand" href="index.html"><img src="images/logo.ico" alt="logo" /></a> -->
                    <b><a class="navbar-brand" href="index.html"><p style="color:white">619|Consomi Tounsi</p></a></b>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown">
                            @Html.ActionLink("Products", "Index", "Productt")
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink("Rayon", "IndexClient", "Rayon")
                        </li>

                        @*@Html.ActionLink(".", "Index", "LigneCommand")*@
                        <li>
                            <button type="button" onclick="location.href='@Url.Action("Index", "LigneCommand")'" style="background-color:black;margin-top:8px;color:white" class="btn btn-dark" value="Bag" id="card">Bag</button>
                        </li>
                        <li>
                            <button type="button" style="background-color:black;margin-top:8px;color:white" class="btn btn-dark" value="clear" id="clear">clear</button>
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink("Posts", "Create", "Post")
                        </li>

                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Transform lives <span><img src="~/images/down-arrow.png" alt=""></span></a>
                            <ul class="dropdown-menu page-list">
                                <li style="color:burlywood">
                                    @Html.ActionLink("Wish Stories", "Index", "Wishes")
                                </li>
                                <li style="color:burlywood">
                                    @Html.ActionLink("Wishes you fundraised", "WishesFundRaisedByAFundRaiser", "Wishes")
                                </li>
                                <li>
                                    @Html.ActionLink("Make a Wish Come True", "Create", "FundRaisers")
                                </li>
                                <li>
                                    @Html.ActionLink("About", "About", "Wishes")
                                </li>
                            </ul>
                        </li>
                        @*<li class="dropdown"><a href="index.html">Log Out</a></li>*@
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Hello, @ViewBag.Username <span><img src="~/images/down-arrow.png" alt=""></span></a>
                            <ul class="dropdown-menu page-list">
                                <li style="color:burlywood"><i class="material-icons add_ic_call">&#xe97c;</i>@ViewBag.phone</li>
                                <li style="color:burlywood"><i class="material-icons email">&#xe0be;</i>@ViewBag.Email</li>
                                <li>
                                    @if (@ViewBag.authenticated == null)
                                    {
                                        @Html.ActionLink("Login", "Login", "Account")
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" style="text-align:center"><i class="material-icons supervisor_account">&#xe8d3;</i>Log off</a>
                                        }
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-sm">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search products">
                            <button type="submit" class="btn btn-sm">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <!--Header End-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Footer
        ================================================= -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">
                        <div class="col-md-3 col-sm-3">
                            <a href=""><h3>619|Consomi Tounsi</h3></a>
                            <ul class="list-inline social-icons">
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <h6>For individuals</h6>
                            <ul class="footer-links">
                                <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
                                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                <li><a href="">Explore</a></li>
                                <li><a href="">Features</a></li>
                                <li><a href="">Language settings</a></li>
                            </ul>
                        </div>

                        <div class="col-md-2 col-sm-2">
                            <h6>@Html.ActionLink("About", "About", "Home")</h6>
                            <ul class="footer-links">
                                <li><a href="">@Html.ActionLink("About us", "About", "Home")</a></li>
                                <li><a href="">@Html.ActionLink("Contact Us", "CreateContact", "Home")</a></li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Terms</a></li>
                                <li><a href="">Help</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <h6>@Html.ActionLink("Contact Us", "CreateContact", "Home")</h6>
                            <ul class="contact">
                                <li><i class="fa fa-phone"></i> +216 969 25801</li>
                                <li><i class="fa fa-mail-forward"></i> ConsomiTounsi@gmail.com</li>
                                <li><i class="fa fa-location-arrow"></i> Pôle Technologique El Ghazela</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright Consomi Tounis 2020. All rights reserved</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Scripts
    ================================================= -->
    @Scripts.Render("~/Scripts/JS/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/JS/bootstrap.min.js")
    @Scripts.Render("~/Scripts/JS/jquery.appear.min.js")
    @Scripts.Render("~/Scripts/JS/script.js")
    @Scripts.Render("~/Scripts/JS/list.min.js")

</body>
</html>
