@model ConsomiTounsi.web.ViewModel.PostComment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />

    <!-- Stylesheets
    ================================================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <link href="~/CSS/BtnInsideInput.css" rel="stylesheet" />
   
    <script src="~/Scripts/rating/jquery.min.js"></script>
    <script src="~/Scripts/rating/star-rating.js"></script>
    <link href="~/CSS/rating/star-rating.css" rel="stylesheet" type="text/css" />
    <!--Google Webfont-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png" />
</head>
<body>
    <div id="page-contents">
        <div class="container">
            <div class="row">
                <!-- Newsfeed Common Side Bar Left
                ================================================= -->
                <div class="col-md-3 static">
                    <div class="profile-card">
                        <img src="@Url.Content("~/Content/Uploads/"+@Model.User.image)" alt="" class="profile-photo-md" />
                        <h5><a href="timeline.html" class="text-white">@ViewBag.Username</a></h5>
                        <a href="#" class="text-white">@ViewBag.Role</a>
                    </div><!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="material-icons">&#xe618;</i><div>@Html.ActionLink("Your posts", "Index", "Post")</div></li>
                        <li><i class="material-icons">&#xe618;</i><div>@Html.ActionLink("All posts", "Create", "Post")</div></li>
                    </ul><!--news-feed links ends-->
                    <div id="chat-block">
                        <div class="title">Chat online</div>
                        <ul class="online-users list-inline">
                            <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="~/images/user-12.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="~/images/user-13.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="John Doe"><img src="~/images/user-17.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="~/images/user-20.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="James Carter"><img src="~/images/user-4.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="~/images/user-6.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="James Carter"><img src="~/images/user-4.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="~/images/user-6.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="James Carter"><img src="~/images/user-4.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="~/images/user-6.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="James Carter"><img src="~/images/user-4.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                            <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="~/images/user-6.jpg" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                        </ul>
                    </div><!--chat block ends-->
                </div>
                <div class="col-md-7">
                    <!-- Post Create Box
    ================================================= -->
                    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="create-post">
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <div class="form-group" style="height:64px">
                                        <img src="~/images/image.jpg" alt="" class="profile-photo-md" />
                                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "Write what you wish", @rows = "1", id = "exampleTextarea", cols = "30" })
                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="tools">
                                        <ul class="publishing-tools list-inline">
                                            <li>
                                                <button type="submit" style="margin-right:20px" class="btn btn-primary pull-right">Publish</button>
                                                <label class="control-label form-control-sm">Image</label>
                                                @Html.TextBox("file", "", new { type = "file" })
                                                @Html.ValidationMessageFor(model => model.UrlImage, "", new { @class = "text-danger" })
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Post Create Box End-->
                    <!-- Post Content
    ================================================= -->
                    @foreach (var item in Model.Posts)
                    {
                        <div class="post-content">
                            @{ string path = "~/Content/uploads/" + @item.UrlImage;}
                            <img src="@Url.Content(path)" alt="post-image" class="img-responsive post-image" />
                            <div class="post-container">
                                <img src="~/images/image.jpg" alt="user" class="profile-photo-md pull-left" />
                                <div class="post-detail">
                                    <div class="user-info">
                                        <a href="timeline.html" class="profile-link">@ViewBag.Username</a>
                                        <button class="btn" onclick="location.href='@Url.Action("Edit", "Post", new { id = item.PostId })'" style="margin-left:360px"><i class="fa fa-pencil" style="color:limegreen"></i></button>
                                        <!-- Bootstrap Modal Dialog For update post-->
                                        @*******************************************************************@
                                        @*<button class="btn" style="margin-left:360px" data-target="#UpdateModal_@item.PostId" data-toggle="modal"><i class="fa fa-pencil" style="color:limegreen"></i></button>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
                                            <div class="modal fade" id="UpdateModal_@item.PostId" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                @using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="modal-dialog">
                                                        <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                                                            <ContentTemplate>
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h4 class="modal-title"><asp:Label ID="lblModalTitle" runat="server" Text=""></asp:Label></h4>
                                                                        <h2>Update your post...</h2>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Post.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                                                                            <div class="col-md-10">
                                                                                @Html.EditorFor(model => model.Post.Content, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Post.Content, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Post.UrlImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                                                            <div class="col-md-10">
                                                                                <label class="label">Image</label>
                                                                                @Html.TextBox("file", "", new { type = "file", @class = "input--style-4", style = "width:800px" })
                                                                                @Html.ValidationMessageFor(model => model.Post.UrlImage, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <textarea name="texts" id="exampleTextarea" cols="200" rows="2" class="form-control">@item.Content</textarea>
                                                                        <label class="label">Image</label>
                                                                        @Html.TextBox("file", "", new { type = "file", @class = "input--style-4", style = "width:800px" })
                                                                        @Html.ValidationMessageFor(model => model.UrlImage, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" value="Save" class="btn btn-success">Save</button>
                                                                        <button type="submit" class="btn btn-success"> @Html.ActionLink("Update", "Edit", new { id = item.PostId })</button>
                                                                        <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </ContentTemplate>
                                                        </asp:UpdatePanel>
                                                    </div>
                                                }
                                            </div>*@
                                        @*******************************************************************@

                                        <!-- Bootstrap Modal Dialog For Delete post-->
                                        @*******************************************************************@
                                        <button class="btn" data-target="#DeleteModal_@item.PostId" data-toggle="modal"><i class="fa fa-trash" style="color:red"></i></button>
                                        <div class="modal fade" id="DeleteModal_@item.PostId" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                                                    <ContentTemplate>
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title"><asp:Label ID="lblModalTitle" runat="server" Text=""></asp:Label></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <asp:Label ID="lblModalBody" runat="server" Text=""></asp:Label>
                                                                <h4>Are you sure you want to delete this post ?</h4>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger"> @Html.ActionLink("Confirm", "Delete", new { id = item.PostId })</button>

                                                                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </ContentTemplate>
                                                </asp:UpdatePanel>
                                            </div>
                                        </div>
                                        @*******************************************************************@
                                        <p class="text-muted">Published @Convert.ToDateTime(item.PublishDate).ToString("dddd, dd MMM yyyy")</p>
                                    </div>
                                    <div class="reaction">
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p>@item.Content  <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                                        <button class="btn text-green" type="button" onclick="location.href='@Url.Action("LikeCreate", "Post", new { id = item.PostId })'"><i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> @item.Like</button>
                                        <button class="btn text-green" type="button" onclick="location.href='@Url.Action("DisLikeCreate", "Post", new { id = item.PostId })'"><i class="glyphicon glyphicon-thumbs-down" style="color:red"></i> @item.DisLike</button>
                                    </div>
                                    <div class="line-divider"></div>
                                    @foreach (var c in Model.Comments)
                                    {
                                        if (item.PostId == c.PostId)
                                        {
                                <div class="post-comment">
                                    <img src="~/images/user-12.jpg" alt="" class="profile-photo-sm" />
                                    <p><a href="timeline.html" class="profile-link">John</a><br />@c.ContentComment </p>
                                    <!-- Bootstrap Modal Dialog For update comment-->
                                    @*******************************************************************@
                                    <div class="modal fade" id="UpdateModalC_@c.CommentId" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                                                <ContentTemplate>
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title"><asp:Label ID="lblModalTitle" runat="server" Text=""></asp:Label></h4>
                                                            <h2>Update your comment... @c.CommentId</h2>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea name="texts" id="exampleTextarea" cols="200" rows="2" class="form-control">@c.ContentComment</textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success"> @Html.ActionLink("Update", "EditComment", new { id = c.CommentId })</button>
                                                            <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                        </div>
                                                    </div>
                                                </ContentTemplate>
                                            </asp:UpdatePanel>
                                        </div>
                                    </div>
                                            @*******************************************************************@
                                            <!-- Bootstrap Modal Dialog For Delete comemnt-->
                                            @*******************************************************************@
                                            <div class="modal fade" id="DeleteModalC_@c.CommentId" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                                                        <ContentTemplate>
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title"><asp:Label ID="lblModalTitle" runat="server" Text=""></asp:Label></h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <asp:Label ID="lblModalBody" runat="server" Text=""></asp:Label>
                                                                    <h4>Are you sure you want to delete this comment ? @c.CommentId</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-danger"> @Html.ActionLink("Confirm", "DeleteComment", new { id = c.CommentId })</button>
                                                                    <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </ContentTemplate>
                                                    </asp:UpdatePanel>
                                                </div>
                                            </div>
                                            @*******************************************************************@
                    </div>
                    
                                            <script>
                                                $('body').on('click', function (e) {
                                                    $('[data-toggle=popover]').each(function () {
                                                        // hide any open popovers when the anywhere else in the body is clicked
                                                        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                                            $(this).popover('hide');
                                                        }
                                                    });
                                                });
                                                $(function () {
                                                    $('[data-toggle="popover"]').popover({
                                                        html: true,
                                                        content: function () {
                                                            var l = $(this).attr('id');
                                                            $("#popover-content #theEdit").text('Edit_' + $(this).attr('id'));
                                                            $("#popover-content #theDelete").text('Delete_' + $(this).attr('id'));
                                                                     
                                                                return $('#popover-content').html();
                                                        }   

                                                    })        
                                                })
                                            </script>
                                            <div class="container">
                                                <button class="btn text-green" type="button" onclick="location.href='@Url.Action("LikeCommentC", "Post", new { id = c.CommentId })'"><i class="glyphicon glyphicon-thumbs-up" style="color:green"></i> @c.LikeComment</button>
                                                <button class="btn text-green" type="button" onclick="location.href='@Url.Action("DisLikeCommentC", "Post", new { id = c.CommentId })'"><i class="glyphicon glyphicon-thumbs-down" style="color:red"></i> @c.DislikeComment</button>
                                                <button class="btn btn-circle btn-sm" data-toggle="popover" title="Update or Delete this_@c.CommentId" id="@c.CommentId" data-placement="bottom"><strong>...</strong></button>
                                                <div id="popover-content" style="display:none;">
                                                    <ul>
                                                        <li>
                                                            <b>
                                                                <a data-target="#UpdateModalC_@c.CommentId" data-toggle="modal" id="theUpdateLink">
                                                                    <span class="following" id="theEdit"></span>
                                                                </a>
                                                            </b>
                                                        </li>
                                                        <li>
                                                            <b>
                                                                <a data-target="#DeleteModalC_@c.CommentId" data-toggle="modal" class="MainNavText" id="theDeleteLink">
                                                                    <span class="following" style="color:red" id="theDelete"  ></span>
                                                                </a>
                                                            </b>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p style="margin-left:200px">@Convert.ToDateTime(c.CommentDate).ToString("dddd, dd MMM yyyy")</p>
                                            @Html.ActionLink("Edit", "EditComment", new { id = c.CommentId })
                                        }
                                    }
                                    @using (Html.BeginForm("CreateCommentC", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div id="containerC">
                                            <div id="helpC"></div>
                                            <div class="buttonInside">
                                                @Html.HiddenFor(model => model.PostId, new { Value = @item.PostId })
                                                @Html.EditorFor(model => model.ContentComment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post a comment" } })
                                                @Html.ValidationMessageFor(model => model.ContentComment, "", new { @class = "text-danger" })
                                                <button type="submit" style=" position: absolute; right: 21px; top: 2px; border: none;
                                                                      height: 31px; width: 35px; border-radius: 10%; outline: none;
                                                                      text-align: center; font-weight: bold; padding: 2px;" id="buttonc">
                                                    Post
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div> 
}
                </div>
            </div>
        </div>
    </div>
</body>
</html>



