@model ConsomiTounsi.web.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>Consomi Tounsi</title>

    <!-- Stylesheets
    ================================================= -->
    @Styles.Render("~/CSS/bootstrap.min.css")
    @Styles.Render("~/CSS/style.css")
    @Styles.Render("~/CSS/ionicons.min.css")
    @Styles.Render("~/CSS/font-awesome.min.css")

    <!--Google Webfont-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png" />
</head>
<body>

    <!-- Header
    ================================================= -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="index.html"><img src="images/logo.ico" alt="logo" /></a> -->
                    <b><a class="navbar-brand" href="index.html"><p style="color:white">619|Consomi Tounsi</p></a></b>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown"><a href="contact.html">About</a></li>
                        <li class="dropdown"><a href="contact.html">Contact</a></li>
                        <li class="dropdown">@Html.ActionLink("Log in", "Login", "Account")</li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-sm">
                        <div class="form-group">
                            <i class="icon ion-android-search"></i>
                            <input type="text" class="form-control" placeholder="Search products">
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <!--Header End-->
    <!-- Top Banner
    ================================================= -->
    <section id="banner">
        <div class="container">

            <!-- Sign Up Form
            =================================================-->
            <div class="sign-up-form">
                <b><a href="index.html" class="logo"><p style="font-size:20px">#619|Consomi Tounsi</p></a></b>
                <h2 class="text-white">Find your 100% Tunisian Product...</h2>
                <div class="line-divider"></div>
                <div class="form-wrapper">
                    <p class="signup-text">Signup now and buy your awesome product</p>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <fieldset class="form-group" style="margin-left:2px">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Username" })
                        </fieldset>
                        <fieldset class="form-group" style="margin-left:2px">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Enter number phone" })
                        </fieldset>
                        <fieldset class="form-group" style="margin-left:2px">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter email" })
                        </fieldset>
                        <fieldset class="form-group" style="margin-left:2px">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password" })
                        </fieldset>
                        <fieldset class="form-group" style="margin-left:2px">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                        </fieldset>
                        <fieldset class="form-group" style="margin-left:2px">
                            @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Name, "Role", new { @class = "form-control" })
                            @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })*@
                        </fieldset>
                        <fieldset class="form-group" style="margin-left:2px">

                            @Html.TextBox("Image", null, new
                    {
                        type = "file",
                        @class = "form-control"
                    })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @*<input type="submit" class="btn-secondary" value="Signup" />*@
                                <button style="font-size:large" type="submit" class="btn-danger">Signup</button>
                            </div>
                        </div>
                    }

                </div>
                @Html.ActionLink("Already have an account?", "Login", "Account")
                <img class="form-shadow" src="images/bottom-shadow.png" alt="" />
            </div><!-- Sign Up Form End -->

            <svg class="arrows hidden-xs hidden-sm">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </section>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-md-3 col-sm-3">
                        <a href=""><h3>619|Consomi Tounsi</h3></a>
                        <ul class="list-inline social-icons">
                            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h6>For individuals</h6>
                        <ul class="footer-links">
                            <li><a href="">Signup</a></li>
                            <li><a href="">login</a></li>
                            <li><a href="">Explore</a></li>
                            <li><a href="">Finder app</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Language settings</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h6>About</h6>
                        <ul class="footer-links">
                            <li><a href="">About us</a></li>
                            <li>@Html.ActionLink("Contact us", "Login", "Account")</li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h6>Contact Us</h6>
                        <ul class="contact">
                            <li><i class="icon ion-ios-telephone-outline"></i>+216 969 25801</li>
                            <li><i class="icon ion-ios-email-outline"></i>ConsomiTounsi@gmail.com</li>
                            <li><i class="icon ion-ios-location-outline"></i>Pôle Technologique El Ghazela</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright Consomi Tounsi 2020. All rights reserved</p>
        </div>
    </footer>

    <!--preloader-->
    <div id="spinner-wrapper">
        <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    @Scripts.Render("~/Scripts/JS/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/JS/bootstrap.min.js")
    @Scripts.Render("~/Scripts/JS/jquery.appear.min.js")
    @Scripts.Render("~/Scripts/JS/script.js")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
